body, html, .site-wrapper,.site-wrapper-inner,.container-fluid {
  overflow:hidden;
  height: 100%;
  margin: 0;
  background-color:#FFE4E1;
  color:red;
}

#body{

  min-height:80%;
  max-height:80%;
  
  overflow:hidden;
}

.lined {
  border: 1px solid;
  border-color: #D3D3D3;
  border-radius: 10px;
  padding: 25px;
}


.lined + .lined {
   border-top:0;
}

#left {
  background-color: #FFFAFA;
  text-align: center;
  overflow:auto;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#right {  
  color:black;
  background-color: #FFFAFA;
  text-align: center;
  overflow:auto;
  
}

.blacktext{
  color:black ;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.equal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.equal > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
