<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Home</title>

  <!-- Bootstrap -->
  <link href="/static/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery and Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- CSS -->
  <link href="/static/css/cover.css" rel="stylesheet">
  <link href="/static/css/home.css" rel="stylesheet">
  <!-- JS -->
  <script src="/static/js/home.js"></script>
</head>


<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container-fluid">

          <div class="row">
            
              <div class="inner">
                <h3 class="masthead-brand">ooWoo</h3>
                <nav>
                  <ul class="nav masthead-nav">
                    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                    <li><a data-toggle="tab" href="/myprofile/">{{user}}</a></li>
                    <li><a href="/logout/">Logout</a></li>
                  </ul>
                </nav>
              </div>
            
          </div>

          <div class="row row-eq-height" id="body">

                <div class="col-sm-3" id="left">
                      <div class="row row-eq-height lined">
                        <div class="col-sm-12">
                          <form id="addFriend" action = "/addfriend/" method = "POST">

                            <b>Add a friend:</b> 
                            <input class="input blacktext" type="text" name="newFriend" value="lindsey" placeholder="Username">
                            <input class="blacktext" type="submit" value="Add" name="friendRequest">
                          
                          </form>
                        </div>
                      </div>

                      <div class="row row-eq-height lined">
                        <div class="col-sm-12">Friend 1</div>
                      </div>

                      <div class="row row-eq-height lined">
                        <div class="col-sm-12">Friend 1</div>
                      </div>

                      <div class="row row-eq-height lined">
                        <div class="col-sm-12">Friend 1</div>
                      </div>

                </div>

                <div class="col-sm-9" id="right">
                      Hello
                </div>
          </div>

          <!--
          <div>
            lInDsEy Ma
          </div>
          -->
        </div>

      </div>

    </div>

<!--
<div class="jumbotron">
  <div class="container">

    <h1> Chatrooms </h1>
    <table border="1">
      {%for chatroom in chatrooms %}}
        <tr>
         <td><a href="/room/{{chatroom[0]}}">{{chatroom[1]}}</a></td>
        </tr>
      {% else %}
        <tr>
         <td> No rooms yet! </td>
        </tr>
      {%endfor%}
    </table>
  </div>
</div>


<div class="jumbotron">
  <div class="container">
    <h1> Create a room </h1>
    <form action="/create/">
      <input type="submit" name="action" value="Create">
    </form>
  </div>  
</div>
<form action="/logout/">
  <input type="submit" name="action" value="Logout">
</form>
</body>

<a href="/vid/">Temp video page</a>
-->

</html>
