<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Home</title>

  <!-- Bootstrap -->
  <link href="/static/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery and Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- socketio -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
	    
  <!-- CSS -->
  <link href="/static/css/cover.css" rel="stylesheet">
  <link href="/static/css/home.css" rel="stylesheet">
  <!-- JS -->
  <script src="/static/js/home.js"></script>

  
</head>


<body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="container-fluid">

          <div class="row">
            
              <div class="inner">
                <h3 class="masthead-brand">ooWoo</h3>
                <nav>
                  <ul class="nav masthead-nav">
                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="/myprofile/">{{user}}</a></li>
                    <li><a href="/logout/">Logout</a></li>
                  </ul>
                </nav>
              </div>
            
          </div>

          <div class="row row-eq-height" id="body">

                <div class="col-sm-3" id="left">
                      

                      <div class="row row-eq-height search">
                        <div class="col-sm-12">
                          <form id="addFriend" action = "/addfriend/" method = "POST">

                            <span class="glyphicon glyphicon-search"></span>
                            <input class="input blacktext" type="text" name="newFriend" value="lindsey" size="10" placeholder="Username">
                            <input class="blacktext" type="submit" value="Add" name="friendRequest">
                          
                          </form>
                        </div>
                      </div>
                      

                      <form>
                          <a href="">
                          <div class="row row-eq-height lined">
                              <div class="col-sm-12">Create a chat</div>
                          </div>
                          </a>
                      </form>

                      <form action="/createroom/" method="POST">
                          <div class="row row-eq-height lined">
                              <div class="col-sm-12">room name: <input class="input blacktext" type="text" name="chatname">
                              add: <input class="input blacktext" type="text" name="friend"></div>
                          
                          <button class="btn btn-sm btn-primary" type="submit" name="action" value="createroom">Create Room</button>
                          
                          </div>
                          
                      </form>

                      {% for chatRoom in chatRooms %}
                      <form>
                        <a href="">
                        <div class="row row-eq-height lined"> 
                          <div class="col-sm-12 chatRoom" id="{{chatRoom['roomId']}}">{{chatRoom['roomName']}}</div>
                        </div>
                        </a>
                      </form>
                      {% endfor %}



                </div>

                <div class="col-sm-9" id="right">
                  <div class="menu">
                      <a href="#" class="back"><i class="fa fa-angle-left"></i> <img src="https://i.imgur.com/G4EjwqQ.jpg" draggable="false"/></a>
                      <div class="name">
                        {{chatname}}
                      </div>
                      <div class="members">
                        <b>You</b>, {{members}} 
                      </div>
                  </div>

                  <ol class="chat">
                  </ol>

                  <div class="typezone">
                  <form><textarea type="text" placeholder="Say something"></textarea><input type="submit" class="send" value=""/></form>
                  
                  </div>

                </div>

          </div>

    </div>
</div>
</div>
</body>

</html>
