<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Home</title>

  <!-- Bootstrap -->
  <link href="/static/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

<div class="jumbotron">
  <div class="container">

    <h1> Chatrooms </h1>
    <table border="1">
      {%for chatroom in chatrooms %}}
        <tr>
         <td><a href="/room/{{chatroom[0]}}">{{chatroom[1]}}</a></td>
        </tr>
      {% else %}
        <tr>
         <td> No rooms yet! </td>
        </tr>
      {%endfor%}
    </table>
  </div>
</div>


<div class="jumbotron">
  <div class="container">
    <h1> Create a room </h1>
    <form action="/create/">
      <input type="submit" name="action" value="Create">
    </form>
  </div>  
</div>
<form action="/logout/">
  <input type="submit" name="action" value="Logout">
</form>
</body>

<a
 href="/vid/">Temp video page</a>
</html>
