<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Login</title>

  <!-- Bootstrap -->
  <link href="/static/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery and Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    

  <!-- CSS -->
  <link href="/static/css/cover.css" rel="stylesheet">
  <link href="/static/css/login.css" rel="stylesheet">
  <!-- JS -->
  <script src="/static/js/cover.js"></script>

</head>

<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <div class="masthead clearfix">
          
          <div class="inner">
            <h3 class="masthead-brand">ooWoo</h3>
            
            <nav>
              <ul class="nav masthead-nav">
                <li class="nav-li active"><a data-toggle="tab" href="#home">Home</a></li>
                <li class="nav-li"><a data-toggle="tab" href="#about">About Us</a></li>          
              </ul>
            </nav>
            
          </div>

        </div>

        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            
            <div class="inner cover" id="home-div">

                <h1 class="cover-heading">Sign in</h1>

                <form class="col-xs-6 col-xs-offset-3" action="/authenticate/" method="POST">
                    
                    <div class="form-group">
                        <input type="text" name="user" class="form-control" placeholder="Username" required autofocus>
                    </div>  
                    
                    <div class="form-group">
                        <input type="password" name="pass" class="form-control" placeholder="Password" required>
                    </div>

                    <button class="btn btn-lg btn-primary" type="submit" name="action" value="Login">Sign in</button>
                    <button class="btn btn-lg btn-secondary" type="submit" name="action" value="Register"> Register</button>           
                
                </form>
            </div>
          </div>

          <div id="about" class="tab-pane fade in">
            <div class="inner cover" id="about-div">
              
                <h1 class="cover-heading">About us</h1>
                <p class="lead">Oowoo was created by the Italian Herbs and Cheeses. The main goal of our team is to create a projects that allows users to be social. To do this, we created gchat rooms with chats and video chats for users to communicate with friends. Users can add friends to communicate with the people they want to. We will be using WebRTC and sockets in flask to host live video chats and chat rooms, and we will use a SQL database to store information for our registered users such as login info and the user’s friends.</p>
            
                
            </div>
          </div>

        </div>


        <div class="mastfoot">
          <div class="container-fluid">        
            <div class="inner">
              <p>Created by Italian Herbs and Cheeses</p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  
</body>
</html>

